::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#interactive-cv {

  @import 'susie';
  @import 'susie-chat-bot';

  $width_of_sky: 9500px;
  $width_of_ground: calc(#{$width_of_sky} + 500px);

  $med-purple: #65568f;
  $med-orange: #c85316;
  $med-blue: #c0eaff;
  $med-yellow: #ffc80d;


  &.morning {
    .sky { background: $med-blue }
    .sky { background: linear-gradient($med-blue, $med-yellow); }
    .hill { background: url(/assets/interactive-cv/morning-hill.png); }
    .grass { background: url(/assets/interactive-cv/morning-grass.png); }
    .stars-clouds { background: url(/assets/interactive-cv/morning-clouds.png); }
    .sun-moon {
      background: url(/assets/interactive-cv/morning-sun.png);
      bottom: 20%;
      right: 43%;
    }
  }
  &.day {
    .sky { background: url(/assets/interactive-cv/night-sky.png); }
    .hill { background: url(/assets/interactive-cv/day-hill.png); }
    .grass { background: url(/assets/interactive-cv/day-grass.png); }
    .sun-moon {
      background: url(/assets/interactive-cv/day-sun.png);
    }
  }
  &.evening {
    .sky { background: $med-orange }
    .sky { background: linear-gradient($med-purple, $med-orange); }
    .hill { background: url(/assets/interactive-cv/evening-hill.png); }
    .grass { background: url(/assets/interactive-cv/evening-grass.png); }
    .stars-clouds { background: url(/assets/interactive-cv/evening-stars.png); }
    .sun-moon {
      background: url(/assets/interactive-cv/evening-moon.png);
    }
  }
  &.night {
    .sky { background: url(/assets/interactive-cv/night-sky.png); }
    .hill { background: url(/assets/interactive-cv/night-hill.png); }
    .grass { background: url(/assets/interactive-cv/night-grass.png); }
    .sun-moon {
      background: url(/assets/interactive-cv/night-moon.png);
      background-repeat: no-repeat;
      top: 20%;
      right: 43%;
    }
  }


  
  .v-slow-moving-items,
  .slow-moving-items,
  .med-moving-items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .v-slow-moving-items {
    width: $width_of_sky;
  }


  .sky, .hill, .stars-clouds {
    position: absolute;
    left: -500px;
    top: 0;
    width: $width_of_sky;
    height: 100%;
    background-repeat: repeat;
  }

  .stars-clouds {
    position: fixed;
  }

  .sun-moon {
    position: fixed;
    width: 108px;
    height: 108px;
    bottom: 30%;
    left: 45%;
  }

  .sky { z-index: 1 }
  .sun-moon { z-index: 2 }
  .stars-clouds { z-index: 3 }
  
  .hill { z-index: 4 }
  .slow-moving-items { z-index: 3 }
  .susie, .susie-shadow { z-index: 5 }
  .rock-1 { z-index: 6 }
  .ground-container { z-index: 7 }
  
  .susie-speech-container { z-index: 9 }



  .section-container {
    position: absolute;
    top: 20px;
    width: 1000px;
  }
  .details {
    left: 100px;
  }

  .education {
    left: 1000px;
  }
  .work-experience {
    left: 2000px;
  }
  .skills {
    left: 3000px;
  }
  .contact {
    left: 7500px;
    width: 500px;
    textarea {
      min-height: 120px;
    }
  }
  .testimonials-header {
    position: absolute;
    top: 267px;
    width: 100px;
    left: 3900px;
    transform: rotate(-90deg);
    h1 { width: 400px; }
  }
  .testimonials {
    left: 4000px;
    width: 3000px;
    p { margin-bottom: 2em; }
    .testimonial-text {
      width: 600px;
      float: left;
      margin-right: 5em;
    }
  }

  

  /* .sky {
    position: absolute;
    left: -500px;
    top: 0;
    width: $width_of_sky;
    height: 100%;
    background: url(/assets/sky.png);
  } */
  /* .rock-1 {
    position: absolute;
    z-index: 99;
    left: 15px;
    top: 67%;
    width: 300px;
    height: 200px;
    background: url(/assets/rock-1.png);
    background-repeat: no-repeat;
  } */

  .rock-1 {
    position: absolute;
    left: -200px;
    bottom: -120px;
    width: 500px;
    height: 300px;
    background: url(/assets/interactive-cv/rock-1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .creepy-tree-1 {
    // position: absolute;
    // left: 500px;
    // top: 27%;
    // width: 400px;
    // height: 100%;
    // background: url(/assets/creepy-tree-1.png);
    // background-size: contain;
    // background-repeat: no-repeat;
  }



  .ground-container {
    position: absolute;
    left: -1000px;
    bottom: 0;
    width: $width_of_ground;
  }
  .grass {
    width: 100%;
    height: 50px;
    background: url(/assets/interactive-cv/grass.png);
  }
  .ground {
    width: 100%;
    height: 100%;
    background: url(/assets/interactive-cv/ground.png);
  }
  .path {
    width: 100%;
    position: absolute;
    top: 107px;
    height: 100px;
    background: url(/assets/interactive-cv/path.png);
    background-size: contain;
  }
  
  

}