::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $color-1;
}
#interactive-cv {

  @import 'susie';

  $width_of_sky: 9500px;
  $width_of_ground: calc(#{$width_of_sky} + 500px);

  .v-slow-moving-items,
  .slow-moving-items,
  .med-moving-items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // .container {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  // }

  .section-container {
    position: absolute;
    top: 20px;
    width: 1000px;
  }
  .details {
    left: 100px;
  }

  .education {
    left: 1000px;
  }
  .work-experience {
    left: 2000px;
  }
  .skills {
    left: 3000px;
  }
  .testimonials-header {
    position: absolute;
    top: 267px;
    width: 100px;
    left: 3900px;
    transform: rotate(-90deg);
    h1 { width: 400px; }
  }
  .testimonials {
    left: 4000px;
    width: 3000px;
    p { margin-bottom: 2em; }
    .testimonial-text {
      width: 600px;
      float: left;
      margin-right: 5em;
    }
  }

  .sky {
    position: absolute;
    left: -500px;
    top: 0;
    width: $width_of_sky;
    height: 100%;
    background: url(/assets/sky.png);
  }
  /* .rock-1 {
    position: absolute;
    z-index: 99;
    left: 15px;
    top: 67%;
    width: 300px;
    height: 200px;
    background: url(/assets/rock-1.png);
    background-repeat: no-repeat;
  } */

  .rock-1 {
    position: absolute;
    z-index: 99;
    left: -200px;
    bottom: -120px;
    width: 500px;
    height: 300px;
    background: url(/assets/rock-1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .creepy-tree-1 {
    // position: absolute;
    // left: 500px;
    // top: 27%;
    // width: 400px;
    // height: 100%;
    // background: url(/assets/creepy-tree-1.png);
    // background-size: contain;
    // background-repeat: no-repeat;
  }



  .ground-container {
    position: absolute;
    left: -1000px;
    top: 77%;
    bottom: 0;
    width: $width_of_ground;
    height: 230px;
  }
  .grass {
    width: 100%;
    height: 50px;
    background: url(/assets/grass.png);
  }
  .ground {
    width: 100%;
    height: 100%;
    background: url(/assets/ground.png);
  }
  .path {
    width: 100%;
    position: absolute;
    top: 80px;
    height: 100px;
    background: url(/assets/path.png);
    background-size: contain;
  }
  
  

}