.susie-speech-container {
  position: fixed;
  //bottom: 25%;
  bottom: 0;
  //height: 100px;
  left: 1em;
  width: 40%;
  height: 100%;
  max-width: 350px;
  padding: 0.5em;
  //background: rgba(255,255,255, 0.9);
  //animation: slideIn 1s forwards;

  .chat-bot {
    position: absolute;
    bottom: 25%;
  }

  .strike {
    text-decoration: line-through;
  }

  @keyframes slideIn {
    from {
      left: -40%;
    }
    to {
      left: 0;
    }
  }

  /* .bubble-container {
    height: calc(100vh - 250px);
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  } */

  $max-speech-bubbles: 5;
  @for $i from 1 through $max-speech-bubbles {
    .index-#{$i}.fade-in { 
      animation-delay: calc(#{$i}s / 2);
    } 
  }

}