.susie-speech-container {
  position: fixed;
  bottom: 0;
  //height: 100px;
  width: 40%;
  padding: 0.5em;
  background: rgba(255,255,255, 0.7);
  z-index: 9999;

  .strike {
    text-decoration: line-through;
  }
}