<div id="preloader">loading...</div>
<div id="interactive-cv" ng-class="{'mobile': mobile}">


  <div class="horizontal-scroll-wrapper squares">
     
    <div class="v-slow-moving-items">
        <div class="sun-moon"></div>
        <div class="stars-clouds"></div>
        <div class="sky"></div>
      </div>

      <div class="med-slow-moving-items">
        <div class="hill"></div>

      </div>
      
      <div class="evergreen-2"></div>
      <div class="evergreen-1"></div>


      <div class="slow-moving-items">
        <div id="stop-scroll"></div>
        <div class="creepy-tree-1"></div>
        

        <div class="sign-container"><div class="sign"></div></div>
        
        <!-- <div class="section-container tree-about"></div> -->

        <div ng-include src="'/views/interactive-cv/sections/details.html'"></div>
        <div ng-include src="'/views/interactive-cv/sections/education.html'"></div>
        <div ng-include src="'/views/interactive-cv/sections/work-experience.html'"></div>
        <div ng-include src="'/views/interactive-cv/sections/skills.html'"></div>
        
        <div class="testimonials-header">
          <h1>MY FAVE TESTIMONIALS</h1>
        </div>
        <div ng-include src="'/views/interactive-cv/sections/testimonials.html'"></div>
        <div ng-include src="'/views/interactive-cv/sections/contact.html'"></div>
        
      </div>

      



      <div class="med-moving-items">
        
        
        <div class="ground-container">
          <!-- <div class="path"></div> -->
          <div class="grass-2"></div>
          <div class="grass-1"></div>

          <!-- <div class="ground"></div> -->
        </div>
        <!-- <div class="rock-1"></div> -->
        <div class="mushroom"></div>
      </div>
      
      
      
      <div class="susie-speech-container">
        <div ng-include src="'/views/interactive-cv/susie-chat-bot.html'"></div>

        <div class="susie"></div>
        <div class="susie-shadow"></div>
      </div>

  </div>
    


</div>