<div id="interactive-cv" class="span-12">

  <div id="setPageHeight"></div>

  <div class="container">

    <div class="v-slow-moving-items">
      <div class="sky"></div>
    </div>

    <div class="slow-moving-items">
      <div class="section-container details">
        <h1>AIMÉE LALLY</h1>
        <h2>is 340 months</h2>
        <h2>is quite short</h2>
        <h2>loves CSS</h2>
      </div>

      <div class="section-container education">
        <h1>Education</h1>
        <h2>Hdip Creative Mutimedia Programming</h2>
        <h2>BA Fine Art Printmaking</h2>
      </div>

      <div class="section-container work-experience">
        <h1>Experience</h1>
        <h2>PROJECT LEAD - ADAPTEMY</h2>
        <p>June 2017 - December 2017</p>
        
        <h2>UI DEVELOPER - ADAPTEMY</h2>
        <p>June 2015 - June 2017</p>

        <h2>WEBSITE MAINTENANCE - RUA RED</h2>
        <p>November 2016 - August 2017</p>

        <h2>ANIMATOR & DESIGNER - OSTIA SOLUTIONS</h2>
        <p>October 2013 - May 2015</p>
      </div>

      <div class="section-container skills">
        <h1>Skills</h1>

        <h2>LEADING A FRONTEND TEAM</h2>
        <p>Managing the development team’s agile workflows</p>
        <P>Managing the development team’s customer facing communications</P>
        <p>Identifying and smoothing bottlenecks</p>

        <h2>WEB DEVELOPMENT</h2>
        <p>HTML, CSS, Javascript, Angular</p>
        <p>UX development</p>

        <h2>ANIMATION & DESIGN</h2>
        <p>Photoshop, Illustrator, Premiere Pro, Blender, Unity</p>
      </div>
    </div>

    <div class="med-moving-items">
      

      <div class="ground-container">
        <div class="grass"></div>
        <div class="ground"></div>
      </div>
    </div>
    
    
    

    

    <div class="susie face-right"></div>

  </div>

</div>