<div class="susie-speech-container">
  <div>
    <p class="margin-bottom">Oh hi I'm Susie!</p>
    <p class="margin-bottom">I got hopelessly lost when Aimée was <span class="strike">20</span> young.</p>
    <p class="margin-bottom">I wonder if she's still looking for me?</p>
    <button
      ng-click="yes()" 
      class="btn-4 block sm-margin-bottom">
      Course she is, you're adorable!
    </button>
    <button 
      ng-click="no()"
      class="btn-4">
      Nah, I heard she replaced you.
    </button>
  </div>
</div>


<div class="susie"></div>
<div class="susie-shadow"></div>