<!-- GREETING SUSIE -->
<div 
  ng-show="speechBubbleToShow === 1"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="Oh hi I'm Susie."
    bubble-content-two="Someone robbed me off a bus ten years ago and I haven't been able to find my way home since."
    bubble-content-three="Do you think Aimée's still looking for me?"
    first-choice-action="yesShesLooking()"
    second-choice-action="noShesNotLooking()"
    first-choice-content="Course she is, you're adorable!"
    second-choice-content="Nah, I heard she replaced you.">
  </speech-bubble>
</div>


<!-- HAPPY SUSIE -->
<div 
  ng-show="speechBubbleToShow === 2"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="Thanks! I knew she would be."
    bubble-content-two="Omg you're looking for her too?"
    bubble-content-three="Lets go this way and see if we can find her!">
  </speech-bubble>
</div>


<!-- ANGRY SUSIE -->
<div 
  ng-show="speechBubbleToShow === 3"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="You clearly don't know Aimée at all!"
    bubble-content-two="Come with me and I'll tell you all about her. She's the best!">
  </speech-bubble>
</div>


<!-- DETAILS ABOUT ME -->
<div 
  ng-show="speechBubbleToShow === 4"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="I hope to god she didn't marry someone from Galway.">
  </speech-bubble>
</div>


<!-- EDUCATION -->
<div 
  ng-show="speechBubbleToShow === 5"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="EDUCATION">
  </speech-bubble>
</div>


<!-- EXPERIENCE -->
<div 
  ng-show="speechBubbleToShow === 6"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="EXPERIENCE">
  </speech-bubble>
</div>


<!-- SKILLS -->
<div 
  ng-show="speechBubbleToShow === 7"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="SKILLS">
  </speech-bubble>
</div>


<!-- TESTIMONIALS -->
<div 
  ng-show="speechBubbleToShow === 8"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="TESTIMONIALS">
  </speech-bubble>
</div>

<!-- CONTACT -->
<div 
  ng-show="speechBubbleToShow === 9"
  class="span-12 bubble-container">
  <speech-bubble 
    class="index-1 fade-in" 
    bubble-content-one="OMG IT'S A CONTACT FORM!!"
    bubble-content-two="Can you tell Aimée where I am??"
    bubble-content-three="I'd do it myself but I have no thumbs!">
  </speech-bubble>
</div>