#camel-caser {

	.white-bg { background: $color-neutral-0 }
	.dark-bg { background: $color-3 }
	.dark-font * { color: $color-neutral-6 }

	textarea {
		min-height: 200px;
    border: transparent;
    background: #ffdd83;
    &:focus {
      outline-color: $color-1;
    }
	}

	pre {
    background: #ffdd83;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

  #copyArea {
    position: absolute;
    left: -500px;
  }

}