// NODE MODULES
@import '~modularscale-sass/stylesheets/modularscale';
//@import '~bootstrap/scss/bootstrap';
//@import '~fancy-forms/styles/fancy-forms/variables-for-fancy-forms';
@import '~fancy-forms/styles/fancy-forms/base';

$ff-color-primary: #F90093;
$ff-color-answer-correct: #70C1B3;
$ff-color-answer-incorrect: #ff6666;
$ff-color-bg: #ffffff;
$ff-color-initial-state: #a1a1a1;




// MODULES
@import 'modules/mixins',
				'modules/variables',
        'modules/animation/hover';

// PARTIALS
@import 'partials/reset',
        'partials/animation',
        'partials/d3',
        'partials/arrows',
        'partials/global',
        'partials/buttons',
				'partials/grid',
        'partials/icons',
        'partials/layout',
        'partials/standard-page-layout',
        'partials/font',
        'partials/formulas',
        'partials/speech-bubbles',
        'partials/angular-simple-popup',//cannot get simple popup css to load correctly from node_modules
        'partials/simple-popup-custom';


// DIRECTIVES
@import '../directives/speech-bubble/speech-bubble';         
			
// VIEWS
@import '../views/landing-page/landing-page',
        '../views/interactive-cv/interactive-cv';




