// NODE MODULES
@import '~modularscale-sass/stylesheets/modularscale';

$ff-color-primary: #F90093;
$ff-color-answer-correct: #70C1B3;
$ff-color-answer-incorrect: #ff6666;
$ff-color-bg: #ffffff;
$ff-color-initial-state: #a1a1a1;
@import '~fancy-forms/styles/fancy-forms/variables-for-fancy-forms';
@import '~fancy-forms/styles/fancy-forms/base';



// MODULES
@import 'modules/mixins',
				'modules/variables',
        'modules/animation/hover';

// PARTIALS
@import 'partials/reset',
        'partials/animation',
        'partials/arrows',
        'partials/global',
        'partials/buttons',
				'partials/grid',
        'partials/icons',
        'partials/layout',
        'partials/standard-page-layout',
        'partials/font',
        'partials/formulas',
        'partials/speech-bubbles',
        'partials/angular-simple-popup',//cannot get simple popup css to load correctly from node_modules
        'partials/simple-popup-custom';


// DIRECTIVES
           
			
// VIEWS
@import '../views/landing-page/landing-page',
        '../views/interactive-cv/interactive-cv';




