.ico-1 {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
    fill:#{$color-1};
  }
  &:not(:disabled):hover{
    svg circle {
      fill: $color-1-hover;
    } 
  }
  &:focus svg {
    -webkit-filter: drop-shadow( 0px 0px 3px $color-neutral-5);
           filter: drop-shadow( 0px 0px 3px $color-neutral-5);
    circle {
      fill: $color-1-hover;
    }
  }
  &:not(:disabled):active svg {
   -webkit-filter: drop-shadow( 0px 0px 3px $color-neutral-5);
          filter: drop-shadow( 0px 0px 3px $color-neutral-5);
  }
  &:disabled svg {
     cursor: not-allowed;
    circle {
      fill: $color-neutral-7;
   }
  }
  &:disabled.waiting svg circle {
    fill: $color-neutral-7;
    cursor: not-allowed;
  }
}

/* /ico-1 */

/*ico-2*/

.ico-2 {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
   fill:#{$color-neutral-5};
 }
 &:not(:disabled):hover{
  svg circle {
   fill: $color-neutral-6;
    } 
  }
  &:focus svg {
   -webkit-filter: drop-shadow( 0px 0px 5px $color-neutral-5);
        filter: drop-shadow( 0px 0px 5px $color-neutral-5);
  circle{
    fill: $color-neutral-6;
    }
  }
  &:not(:disabled):active {
  svg circle{
  fill:$color-neutral-6;
    }
  }
  &:disabled svg {
    cursor: not-allowed;
  circle {
    fill: $color-neutral-7;
   }
 }
  &:disabled.waiting svg circle {
   fill: $color-neutral-7;
   cursor: not-allowed;
   }
 }
/* /ico-2 */

/*ico-3*/

.ico-3 {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
   fill:#{$color-neutral-5};
}
&:hover {
path, polyline {
  fill: $color-neutral-6;
 }
}
&:focus {
path, polyline {
  fill: $color-neutral-6;
 } 
}
&:not(:disabled):active {
 path, polyline {
  fill: $color-neutral-6;
 } 
}
&:active {
 path, polyline {
  fill: $color-neutral-6;
 } 
}
&[disabled] svg {
cursor: not-allowed;
path, polyline {
  fill: $color-neutral-7;
 }
}
&[disabled].waiting svg {
fill: $color-neutral-7;
cursor: not-allowed;
 }
} 

/* /ico-3 */

/*ico-4*/

.ico-4 {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
   fill:#{$color-1};
}
&:hover {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
    text-decoration:underline;
  } 
}
&:focus {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
    fill: $color-1;
 } 
}
&:active {
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
    fill: $color-1;
  } 
}
&[disabled] svg {
  cursor: not-allowed;
  svg *[fill='#A1A1A1'],
  svg *[fill='#a1a1a1'] {
    fill: $color-neutral-7;
  }
}
&[disabled].waiting svg {
  fill: $color-neutral-7;
  cursor: not-allowed;
 }
}
/* /ico-4 */