<div class="section-container work-experience">
  <h1>Experience</h1>
  <h2>PROJECT LEAD: Adaptemy</h2>
  <p>June 2017 - December 2017</p>
  
  <h2>UI DEVELOPER: Adaptemy</h2>
  <p>June 2015 - June 2017</p>

  <h2>WEBSITE MAINTENANCE: Rua Red</h2>
  <p>November 2016 - August 2017</p>

  <h2>ANIMATOR & DESIGNER: Ostia Software Solutions</h2>
  <p>October 2013 - May 2015</p>

  <span class="pull-right">
    <button 
      class="btn-4 ico-susie"
      ng-click="activateSusieWorkExp()">
      <ng-include src="'/assets/interactive-cv/ico-susie.svg'" />
    </button>
  </span>
</div>