<div id="landing-page">
  <aside class="span-3 padding-standard">
    <div class="profile-container span-12">
      <img class="span-12 profile" />
    </div>

    <h1>Aimée Lally</h1>

    <h2>Project Lead</h2>
    <h2>UI Developer</h2>
    
    <h3>CSS Expert</h3>

    <a  
      href="http://aimeelally.com/fancy-forms/index.html"
      class="btn-4 margin-bottom">
      Fancy Forms
    </a>
    <a  
      href="http://www.caramellocaser.com/#!/camel-caser"
      class="btn-4">
      Caramello Caser
    </a>
    <a  
      ui-sref="interactiveCv"
      class="btn-4">
      Interactive CV
    </a>
  </aside>

  <main class="span-9">

    <section class="span-12 padding-standard">
      <h1>Hire me for:</h1>
      <ul>
        <li>remote work</li>
      </ul>

    </section>

    <section class="project-container span-12 padding-standard">
      <h2>Fancy Forms</h2>
      <h3>A Collection of Pure CSS Form Elements</h3>
      <img src="/assets/fancy-forms.png">
    </section>

    

  </main>

</div>